<footer class="footer sm:footer-horizontal bg-base-200 p-10 rounded-box">
  <aside>
    <div class="text-xl titling flex gap-2 items-center" href="/">
      <div class="size-8 inline-block">{% include "../assets/doughkiticon.svg" %}</div>
      <span>doughkit.dev</span>
    </div>
    
    <div class="flex gap-2 footericons">
      {% for item in footer.socials %}
        <a href="{{ item.href }}">{% fa item.icon %}</a>
      {% endfor %}
    </div>
  </aside>

  {% for item in footer.map %}
    <nav>
      <h6 class="footer-title">{{ item.title }}</h6>
      {% for subitem in item.list %}
        <a href="{{ subitem.href }}">{{ subitem.title }}</a>
      {% endfor %}
    </nav>
  {% endfor %}

</footer>
