
<section class="d-hero">
  <div class="z-1 relative">
    <h1 class="text-5xl titling">doughkit</h1>
    <p class="text-lg pt-3 font-semibold">{{ tagline }}</p>
  </div>
  <div class="absolute top-0 right-0">
    {% include "../assets/banner.svg" %}
  </div>
</section>
