<div class="navbar bg-base-200 rounded-box px-10">
  <div class="navbar-start">
    <a class="text-xl titling flex gap-2 items-center" href="/">
      <div class="size-8 inline-block">{% include "../assets/doughkiticon.svg" %}</div>
      <span>doughkit.dev</span>
    </a>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <li><a>Link</a></li>
      <li><a>Link</a></li>
    </ul>
  </div>
</div>