@use "sass:color";
// naming convention inspired by catppuccin
$crust: #1b1020;
$mantle: #261a2c;
$base: #322439;
$overlay: #44334c;
$subtext: #a18caa;
$text: #eee;

$accent: #e889ff;
$red: #f72d66;
$yellow: #fffc6a;
$blue: #7993f8;
$green: #81d6ad;

@function dark($c) {
    @return color.scale(darken($c, 15%), $saturation: -30%);
}

$accent-dark: dark($accent);
$red-dark: dark($red);
$yellow-dark: dark($yellow);
$blue-dark: dark($blue);
$green-dark: dark($green);