{{ export hero }}
<section class="hero is-danger is-halfheight">
  <div class="hero-body">
    <div>
      <p class="title">doughkit</p>
      <p class="subtitle">this site still isnt finished sorry</p>
    </div>
  </div>
</section>
{{ /export }}