@use "sass:color";

$_base: oklch(0.515 0.211 295.6);
$white: oklch(0.931 0.018 339.9);
$brand: oklch(0.692 0.174 359.2);

$text: oklch(0.871 0.048 273.7);

$subtext1: oklch(0.812 0.046 274.3);

$subtext0: oklch(0.751 0.044 273.5);

$overlay2: oklch(0.690 0.043 274.5);

$surface2: oklch(0.494 0.039 275.7);

$surface1: oklch(0.426 0.039 276.9);

$surface0: oklch(0.354 0.037 276.0);

$base: oklch(0.279 0.035 276.9);

$mantle: oklch(0.249 0.030 278.4);

$crust: oklch(0.219 0.025 280.7);
