@use "sass:math";

body {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
  font-weight: 500;
}
$font-sizes: (
    "h1":       3.00rem,
    "h2":       2.50rem,
    "h3":       2.00rem,
    "h4":       1.50rem,
    "h5":       1.25rem,
    "h6":       1.12rem,
    "p":        1.00rem,
    "small":    0.80rem,
);

h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: -0.022em;
}

@each $key, $value in $font-sizes {
    #{$key} {
        font-size: $value;
    }
}

:is(h1, h2, h3, h4, h5, h6) {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}


b, strong {
  font-weight: bolder;
}
