@use "../_includes/_colors.scss" as c;

@use "../node_modules/bulma/sass/utilities" with (
    $family-primary: '"JetBrains Mono",monospace',
    $primary: c.$accent,
);

@forward "../node_modules/bulma/sass/base";
@forward "../node_modules/bulma/sass/components";
@forward "../node_modules/bulma/sass/elements";
@forward "../node_modules/bulma/sass/layout";
@forward "../node_modules/bulma/sass/helpers";
@forward "../node_modules/bulma/sass/themes";